@font-face {
  font-family: "samim";
  src: url('./fonts/Samim.eot') format('embedded-opentype'),
      url('./fonts/Samim.ttf') format('truetype'),
      url('./fonts/Samim.woff') format('woff'),
      url('./fonts/Samim.woff2') format('woff2');
  font-weight: normal;
}
body {
  // background-color: blue;
  h2 {
    color:red;
  }
}